.card {
  height: 300px;
  box-shadow: 1px 2px;
  background-position: center;
  background-size: cover !important;
  position: relative;
  color: white;

}

.cocktail-card-content h2 {
  bottom: 10px;
  left: 10px;
  font-family: Geneva, sans-serif;

}

.card-link {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #EFF7CF;

}

.card-link:hover {
  opacity: 1;
  color: black;
}
