.navbar-lewagon {
  justify-content: space-between;
  background: black;
  position: sticky;
  width: 100%;
  overflow: hidden !important;
}

.navbar-lewagon h5 {
  font-family: Impact;
  color: #f7fff7;
}
